<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addition</title>
</head>
<style>
    body{
        background-color: #5d7bfc;
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h3{
        font-size: 16pt;
    }
    a:link{
        font-size: 15pt;
    }
    a:visited{
        color: white;
    }
</style>
<body>
    <form action = "{{ url_for('addrec') }}" method = "POST">
        <h1>Addition Page</h1>
        <h3>Phone Case Order Information</h3>
        <p>

        </p>
        <a href="http://127.0.0.1:5000/home">To Return to the Home Page</a>
        <p>

        </p>
        <a href="http://127.0.0.1:5000/list">To View the List Page</a>
        <p>Item ID</p>
        <input type = "text" name = "item_id" /></br>
       
        <p>Name</p>
        <input type = "text" name = "nm" /></br>

        <p>Phone Type</p>
        <input type = "text" name = "phone_type" /></br>

        <p>Case Color</p>
        <input type = "text" name = "case_color" /></br>

        <p>Price</p>
        <input type = "text" name = "price" /></br>

        <input type = "submit" value = "submit" class="btn class-primary"/><br>


</body>
</html>