<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    body{
        background-color: #5d7bfc;
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h2{
        font-size: 16pt;
    }
    a:link{
        font-size: 15pt;
    }
    a:visited{
        color: white;
    }
</style>
<body>
    <form action="http://localhost:5000/home" methods = "POST">
        <h1>Welcome to Custom Cases!</h1>
        <h2>Here you choose any case that you would like from our inventory!</h2>

        <a href="http://127.0.0.1:5000/add/">To Visit the Addition Page</a>
        <p>

        </p>
        <a href="http://127.0.0.1:5000/list">To Visit the List Page</a>
    </form>

</body>
</html>